<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        {% block facebook %}
        <meta property="og:title" content="{{ block('title') }}" />
        <meta property="og:description" content="{{ block('description') }}" />
        <meta property="og:url" content="https://www.karlagergelova.com/Multi-website">
        <meta property="og:image" content="{{ asset('images/multi.webp') }}" />
        <meta property="og:site_name" content="Multi site vitrine">
        {% endblock %}

        
        <title>{% block title %}Multi site vitrine créé par Karla Gergelova{% endblock %}</title>
        <meta name="description" content="{% block description %} Multi site vitrine créé par Karla Gergelova lors de ses études à WF3. {% endblock %}">

        {% block stylesheets %}
           
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css.map') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/all.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/multi/style.css') }}">
        {% endblock %}
    </head>
    <body>

        {% include 'multi/header.html.twig' %}

        <!--Caroussel-->
        <section class="container-fluid px-0"> <!--take of automatic padding left and right-->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" id="slide" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators"  data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators"  data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ asset('images/Multi/1.webp') }}" class="d-block w-100" alt="phone in hand pc">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset('images/Multi/2.webp') }}" class="d-block w-100" alt="clavier d'ordinateur">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset('images/Multi/3.webp') }}" class="d-block w-100" alt="interview">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" id="next">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" id="next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </a>
            </div><!--/carousel-->
        </section>

        <!--Header text-->
        <header class="container-fluid text-center text-secondary py-5">
            <div class="container">
                <div class="row">   
                    <div class="col-lg-12 ">
                        <h3>Providing clients</h3>
                        <h1>Best & Creative Solutions</h1>
                    </div>
                </div><!--/row-->
            </div><!--/container-->
        </header>

        <!-- 4 columns-->
        <section class="container-fluid py-5">
                <section class= "row">
                    <div class="col-lg-3 order-lg-1 text-center">
                        <i class="fas fa-cogs" id="icons"></i>
                        <p id="paddingTop">CREATIVE SOLUTIONS</p>
                    </div>
                    <div class="col-lg-3 order-lg-2 text-center">
                        <i class="fas fa-leaf" id="icons"></i>
                        <p id="paddingTop">CREATIVE SOLUTIONS</p>
                    </div>
                    <div class="col-lg-3 order-lg-3 text-center">
                        <i class="far fa-heart" id="icons"></i>
                        <p id="paddingTop">CREATIVE SOLUTIONS</p>
                    </div>
                    <div class="col-lg-3 order-lg-4 text-center">
                        <i class="fas fa-laptop" id="icons"></i>
                        <p id="paddingTop">CREATIVE SOLUTIONS</p>
                    </div>
                </section><!--/row-->
        </section>

        <!--Main feature text-->
        <section class="container-fluid text-center py-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Main Features</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, tenetur. Aliquid quo rem aperiam corporis voluptatem ab sint deleniti saepe doloribus cumque perferendis eveniet sapiente sunt vero, eaque possimus unde.</p>
                    </div><!--/col-->
                </div><!--/row-->
            </div><!--/container-->
        </section>

        <!--2images in row-->
        <section class= "container-fluid py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 order-lg-2">
                        <img src="{{ asset('images/Multi/6.webp') }}" alt="girl with pc" class="src" width="500em">
                    </div>
                    <div class="col-lg-6 order-lg-2">
                        <img src="{{ asset('images/Multi/5.webp') }}" alt="tel et tablette plus texte" class="src" width="500em">
                    </div>
                </div><!--/row-->
            </div><!--/container-->
        </section>

        <!--3columns-->
        <section class="container-fluid py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 order-lg-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-3">
                                    <i class="fas fa-rocket" id="iconsOther"></i>
                                </div>
                                <div class="col-9">
                                    <h3>SEO Optimized</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia at doloremque est et mollitia aliquid dolore, reiciendis quia ipsam porro suscipit hic, similique ea nemo libero. Magni soluta veniam aliquid.</p>
                                </div>
                            </div><!--/row-->
                        </div><!--/container-->
                    </div><!--/col-->
                    <div class="col-lg-4 order-lg-2">
                        <div class="container">
                            <div class="row">
                                <div class="col-3">
                                    <i class="fas fa-camera" id="iconsOther"></i>
                                </div>
                                <div class="col-9">
                                    <h3>Easy to Install</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur cupiditate odio esse optio ratione unde doloremque necessitatibus, cumque deleniti quo labore asperiores est reiciendis pariatur id dolore minus maxime expedita.</p>
                                </div>
                            </div><!--/row-->
                        </div><!--/container-->
                    </div><!--/col-->
                    <div class="col-lg-4 order-lg-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-3">
                                    <i class="far fa-heart" id="iconsOther"></i>
                                    </div>
                                    <div class="col-9">
                                    <h3>Unlimited Possibilities</h3>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis optio, ad suscipit sunt odit explicabo dignissimos, deserunt amet quidem consequuntur aperiam laborum necessitatibus nulla perspiciatis!</p>
                                </div>
                            </div><!--/row-->
                        </div><!--/container-->
                    </div><!--/col-->
                </div><!--/row-->
            </div><!--/container-->
        </section>

        <!--Orange bottom bar with 2 buttons-->
        <section class="container-fluid py-5 text-center text-white" id="colorfulContainer">
            <div class="container py-5">
                <div class="row">
                    <div class="col-12">
                        <h3>Easily Customizable & Unlimited Support</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. .</p>
                        <button type="button" class="btn btn-secondary">PURCHASE NOW</button>
                        <button type="button" class="btn btn-secondary">LEARN MORE</button>
                    </div>
                </div><!--/row-->
            </div><!--/container-->
        </section>

        <!--what people are-->
        <section class="container-fluid bg-light text-center py-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4>What People Are</h4>
                        <h3>Saying About Us</h3>
                    </div>
                </div><!--/row-->
            </div><!--/container-->
        </section>

        <!--Photos and text-->
        <section class="container-fluid bg-light py-5">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-3 order-lg-4 pt-5">
                        <img src="{{ asset('images/Multi/man4.webp') }}" alt="man4" id="man4" class="src">
                        <h4>Frank Smith</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                    </div>
                    <div class="col-lg-3 order-lg-3 pt-5">
                        <img src="{{ asset('images/Multi/man2.webp') }}" alt="man2" id="man2" class="src">
                        <h4>John Freeman</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                    </div>
                    <div class="col-lg-3 order-lg-2 pt-5">
                        <img src="{{ asset('images/Multi/man3.webp') }}" alt="man3" id="man3" class="src">
                        <h4>Nicolas Lang</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                    </div>
                    <div class="col-lg-3 order-lg-1 pt-5">
                        <img src="{{ asset('images/Multi/man4.webp') }}" alt="man4" id="man42" class="src">
                        <h4>TJ Coxx</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                    </div>
                </div><!--/row-->
            </div><!--/container-->
        </section>

        <!--Before footer-->
        <section class="container-fluid py-5 bg-dark text-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 order-lg-1">
                        <h5>Multi</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil qui voluptatem doloribus recusandae, magnam minima cum dignissimos rerum porro mollitia nam iste odit praesentium, ut reprehenderit unde illum quos numquam.</p>
                        <p class="icon">
                            <i class="fab fa-facebook-f" id="socialIcons"></i>
                            <i class="fab fa-twitter" id="socialIcons"></i>
                            <i class="fab fa-linkedin-in" id="socialIcons"></i>
                            <i class="fab fa-pinterest" id="socialIcons"></i>
                            <i class="fab fa-google-plus-square" id="socialIcons"></i>
                        </p>
                    </div>
                    <div class="col-lg-4 order-lg-2">
                        <h5>RECENT POSTS</h5>
                        <p id="one">Great design with Features</p>
                        <p id="two">Limitless functions & works</p>
                        <p id="three">Multi is simple and clean design</p>
                    </div>
                    <div class="col-lg-4 order-lg-3">
                        <h5>CONTACT INFO</h5>
                        <p id="four"><i class="fas fa-home"></i>Office #38, Suite 54 Elizabeth street, Victoria State, Newyork, USA 33026</p>
                        <p id="five"><i class="fas fa-phone-alt"></i>+38 000 129 900</p>
                        <p><i class="fas fa-envelope"></i>info@domain.net</p>
                    </div>
                </div><!--/row-->
            </div><!--/container-->
        </section>

        {% include 'multi/footer.html.twig' %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.4.1.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
            <script src="{{ asset('js/multi/script.js') }}"></script>
        {% endblock %}
    </body>
</html>